div {
    background-color: aqua;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(243, 149, 8);
}
h2 {
    color: rgb(8, 118, 243);
}
h3 {
    color: rgb(196, 8, 243);
}
p {
    font-size: 22px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
    color: rgb(243, 8, 145);
}
b,strong{
    color: rgb(19, 17, 18);
}